#board {
    box-sizing: border-box;
    border: solid black;
    float: left;
    width: 448px;
    height: 384px;
    border-width: 1px;
    margin: 10px;
}

#record {
    box-sizing: border-box;
    border: solid black;
    border-width: 1px;
    float: left;
    width: 100px;
    height: 384px;
    margin: 10px;
}

#time {
    width: 448px;
    margin: 10px;
    display: block;
}
