* {
	margin: 0;
	padding: 0;
}

#board {
        box-sizing: border-box;
        border: solid black;
        float: left;
        width: 400px;
        height: 400px;
        margin-left: 20px;
        margin-right: 20px;
}

#record {
        box-sizing: border-box;
        border: solid black;
        float: left;
        width: 100px;
        height: 400px;
}

#time {
        box-sizing: border-box;
        border: solid black;
        width: 520px;
        height: 3cm;
        margin-left: 20px;
        margin-top: 20px;
}

main::after {
        content:  "";
        display: block;
        clear: both;
}