.block {
    display: table;
}

.cell {
    display: table-cell;
}

#board {
    box-sizing: border-box;
    border: solid black;
    width: 448px;
    height: 384px;
    border-width: 1px;
    margin: 10px;
}

#record {
    border-width: 1px;
    width: 100px;
    height: 394px;
    margin-left: 10px;
}

#download {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}

#time {
    width: 448px;
    margin: 10px;
}
